 
 
 {{!-- this data goes through main.hbs file in class="container section when executed" --}}
        <div class="row">
            <section class="main col-md-9">
                <article>
                    <h2>About</h2>
                    <p> I am studing Computer programming in seneca college. This is my project of web322 and related to back end programming.</p>
                    <p> This project will teach how to use express, node etcetra and will tell me more about server side programming.</p>
                </article>
            </section>
            <aside class="col-md-3">
                <h2>Comming Soon</h2>
                <p>Look forward for new updates</p>
            </aside>
        </div>
    